<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="40" alt="hackathon Logo"
      src="https://asset.brandfetch.io/idK2mWG2SJ/idv0C2PnTh.jpeg" />
     TIPO DE CAMBIO
    </a>
      <a class="navbar-brand" href="#">
        <img width="60" alt="coder path"
          src="https://static.projectmanagement.com/images/profile-photos/47157997_250219013622_p.jpg"
          />
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/usuarios"routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/perfiles"routerLinkActive="active">Perfiles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tipodecambio"routerLinkActive="active">Tipo de Cambio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/monedasorigen"routerLinkActive="active">MonedasOrigen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
